/* --------------- MY OWN CSS -----------------  */
@media screen and (max-width:549px){
	
	#topAreas, #schedule, body{
		width:320px;
		visibility: visible;
	}
	
	body, html, #schedule{
		padding: 0 !important;
	}
	body{
		margin: 0 auto !important;
	}
	
	#courseArea, #linkArea, #rememberArea, #pastDays{
		display: none;
	}

	h1{font-size: 1.5em}
}

@media screen and (min-width:550px){
	#topAreas, #schedule{
		width:840px;
	}
}


body,html {
	margin:0;
	padding:0;
}
body {
/* background: url(../img/bg5.png) repeat;  */
background-color: #FAFAFA;
padding-left:10px;
}

h4{
	padding:0;
	margin: 0;
	margin-bottom:0.1em;
	line-height: 1em;
}

.subpage, select, input{
	color: #363636;
}

#topAreas div {
	float:left;
	padding: 10px;
	color: #363636;
}

#classArea {
	font-size:3em;
}


#topAreas, #schedule{
margin:0 auto;
padding:0;

}

#topAreas{
font-family: 'Open Sans', sans-serif;
}  

#schedule{
	margin-top:-30px;
	/*position: relative;
	left: 24px; */
}

#topAreas a:link, #topAreas a:visited, #topAreas a:hover, #topAreas a:active  {color:#166AE0;}  
.subpage a:link, .subpage a:visited, .subpage a:hover, .subpage a:active  {color:#166AE0;}  
.c a:link, .c a:visited, .c a:hover, .c a:active  {color:#1265d9;}  



#topAreas a:hover, .subpage a:hover, .c a:hover {
	text-decoration: underline;
}

.subpage{
margin: 0 auto;
font-family: 'Open Sans', sans-serif;
max-width: 420px;
font-size: 1.2em;
text-align: center;
}

.subpage li {
	text-align: left;
	margin:10px;
}

.subpage ol {margin-left:20px;}


 #studentSchedulePage .submit{
 	margin:10px;
 	padding:10px;
 	font-size: 1.2em;
 	

 }

#chooseClassPage select, #chooseClassPage input {
	width:120px;
	height: 40px;
	font-size: 1.2em;
	margin:10px;
}



/*   STATS PAGE   */

.statsTable div{
border: 1px solid #d1d1d1;
float:left;
padding:0px;	
}

.statsTable{
width:200px; 
}

.statsTable, .classTable{
font-size: 1.3em;	
font-size: 1.3em;
border: 1px solid black;
float:left;
text-align:center;
}


.line1{
	width:198px;
}

.line2{
	width: 98px;
}

.classTable div {
border: 1px solid #d1d1d1;
text-align:center;
float:left;
width:80px;
}

.classTable {
width:80px; 
}

.stats4columns {
width:100%;
border: 0px solid #d1d1d1;
}

.stats4columns div{
width:48px;
}